@import '../../globalColoring.less';

@responsiveWidth : 770px;

@cardColor: @themeColorArea;
@lineColor : @themeColorOutline;
@chipBorder : @themeColorHighlight;
@textColor : @themeColorWriting;
@dateColor : @themeColorOutline;

.itemCardContainer {
	margin-left: 10px;
	display:flex;
	flex-wrap: wrap;
	align-items : center ; /* for vertical aligning */
}

.itemCard {
	background-color:@cardColor;
	padding-left: 3px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	font-size:smaller;
    width: 100px;
    height: 100px;
	margin-left: 10px;
	margin-top:5px;
}

.datePoint{
	position: absolute;
	right: 0px;
	color : @dateColor;
	background-color: @cardColor;
	border: 4px solid @chipBorder;
	top: 30px;
	border-radius: 10%;
	z-index: 1;
	width: 90px;
	font-size: smaller;
	text-align: center;
	margin:0;
	padding:0;
	
	@media screen and (max-width: @responsiveWidth) {
		left :-50px;
	}
}