@import '../../globalColoring.less';

@cardColor: @themeColorArea;
@lineColor : @themeColorOutline;
@chipBorder : @themeColorHighlight;
@textColor : @themeColorWriting;

/* The actual content */
.content {
	margin-left:20px;
	padding: 10px 10px;
	background-color: @cardColor;
	position: relative;
	border-radius: 6px;
}
@media screen and (max-width: 600px) {
	.content {
		margin-left:35px;
		padding: 10px 10px;
		background-color: @cardColor;
		position: relative;
		border-radius: 6px;
	}
}