@import '../../globalColoring.less';

@lineColor : @themeColorOutline;
@chipBorder : @themeColorHighlight;
@textColor : @themeColorWriting;

@responsiveWidth : 770px;

* {
	box-sizing: border-box;
	color: @textColor;
}

/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 80px;
	@media screen and (max-width: @responsiveWidth) {
		margin: 0 auto;
	}
}

.timeline::after  {
	content: '';
	position: absolute;
	width: 6px;
	background-color: @lineColor;
	top: 0;
	bottom: 0;
	left: 0%;
	margin-left: -3px;
	
	@media screen and (max-width: @responsiveWidth) {
		left: 55px;
	}
}

