<nav class="navbar-fixed-top" role="navigation">
    <div [style.height.px]="height" class="container bar outer-div">
        <div class="inner-div row">
            <div class="col-sm-2 inner-div">
                <button class="inner-div btn btn-default" type="button">
                    <div class="glyphicon glyphicon-chevron-left"></div>
                </button>
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-4 inner-div" id="bs-example-navbar-collapse-1">
                <div class="inner-div" style="text-align:center">
                    <span class="dropdown inner-div">
                        <button type="button" class="btn btn-default dropdown-toggle inner-div search-button" data-toggle="dropdown" aria-label="Justify">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><button type="button" class="btn btn-default">Action</button></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </span>
                    <span style="margin-left:10px; margin-right:10px">                        
                        <img src="assets/images/logo.png" width="50px" height="50px"/>
                    </span>
                    <span>
                        <button class="inner-div btn btn-default" type="button">
                            Traiter les données
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-2 inner-div">
                <button class="pull-right inner-div btn btn-default" type="button">
                    <div class="glyphicon glyphicon-chevron-right"></div>
                </button>
            </div>
        </div>
    </div>
</nav>
<div [style.height.px]="height + 5"></div> 