<nav class="sticky-top navElement" role="navigation">
    <div  class="bar outer-div">
        <div class="bar-row row inner-div">
            <button class="inner-div btn btn-default glyphicon glyphicon-chevron-left navigation-button" type="button">
            </button>           

            <div class="mx-auto inner-div center-commands" id="bs-example-navbar-collapse-1">
                <div class="inner-div" style="text-align:center">
                    <span class="dropdown inner-div">
                        <button type="button" class="btn btn-default dropdown-toggle inner-div glyphicon glyphicon-search" data-toggle="dropdown" aria-label="Justify">
                        </button>
                        <div class="dropdown-menu" style="margin-top:20px;">
                            <button type="button" class="btn btn-default" style="width:100%">Action</button>
                        </div>
                    </span>
                    <span style="padding: 0 5px;">                        
                        <img src="assets/images/logo.png" width="50px" height="50px"/>
                    </span>
                    <span>
                        <button class="inner-div btn btn-default navigation-button" type="button">
                            Traiter les données
                        </button>
                    </span>
                </div>
            </div>

            <button class="inner-div btn btn-default glyphicon glyphicon-align-justify mx-auto hamburger">
            </button>
            
            <button class="float-right inner-div btn btn-default glyphicon glyphicon-chevron-right" type="button">
            </button>            
        </div>
    </div>
</nav>