.outer-div {
	height: 60px;
}

.inner-div {
	height:100%;
}

.search-button {
	width:50px;
}

.navElement {
    max-width: 100%;
    padding: 0 5px;
}

.bar {
	border-style: solid;
	border-color: #C8C0B5;
    border-width: 0 0 1px 0;
	background:#FAF1E3;
	box-shadow: 0 0 5px 0 #8C867E;
	padding:10px 10px 10px 10px;
	width:100%
}