<nav class="sticky-top navElement" role="navigation">
    <div  class="bar outer-div">
        <div class="inner-div row">
            <div class="col-sm-2 inner-div">
                <button class="inner-div btn btn-default" type="button">
                    <
                </button>
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-4 inner-div" id="bs-example-navbar-collapse-1">
                <div class="inner-div" style="text-align:center">
                    <span class="dropdown inner-div">
                        <button type="button" class="btn btn-default dropdown-toggle inner-div search-button" data-toggle="dropdown" aria-label="Justify">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <div class="dropdown-menu" style="margin-top:20px;">
                            <button type="button" class="btn btn-default" style="width:100%">Action</button>
                        </div>
                    </span>
                    <span style="padding: 0 5px;">                        
                        <img src="assets/images/logo.png" width="50px" height="50px"/>
                    </span>
                    <span>
                        <button class="inner-div btn btn-default" type="button">
                            Traiter les données
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-2 inner-div">
                <button class="float-right inner-div btn btn-default" type="button">
                    >
                </button>
            </div>
        </div>
    </div>
</nav>