@import '../../globalColoring.less';

.outer-div {
	height: 50px;
}

.inner-div {
	height:100%;
}

.search-button {
	width:50px;
}

.navElement {
    max-width: 100%;
    padding: 0;
}

.bar {
	background: @themeColorBackground;
	box-shadow: 0 4px 2px -2px @themeColorOutline;
	width:100%;
	padding-bottom: 1px;
}
