<div *ngIf="iterations | async as iterationsSync">
	<card *ngFor="let it of iterationsSync">
		{{it.name}}
	</card>
</div>
<div>
	Group
	<input [(ngModel)]="groupFilter" name="Group">
	Sort
	<input [(ngModel)]="sortFilter" name="Sort">
</div>
<table *ngIf="(usSprint | async) as usSync; else loading">
	<div *ngIf="usSync.length; else noItems">
		<tr *ngFor="let usGroup of (usSync | groupBy:groupFilter)">
			<td>{{getGroup(usGroup)}}</td>
			<td *ngFor="let us of (usGroup.value | orderBy:sortFilter)" [className]="getClassFromUsState(us.state)" >
				{{us.category?.name}}
				<div>
					<ng-container *ngIf="groupFilter != 'type'">{{us.type}} </ng-container>
					<ng-container *ngIf="groupFilter != 'id'">{{us.id}} </ng-container>
					<ng-container *ngIf="groupFilter != 'summary'">{{us.summary}} </ng-container>
				</div>
			</td>
		</tr>
	</div>
</table>
<ng-template #noItems>No Items!</ng-template>
<ng-template #loading>Loading data...</ng-template>
