//Bright theme

@themeColorOutline : #646059;

@themeColorLightBackground : #ded9d3;
@themeColorDarkBackground : #282623;

@themeColorWriting : #995f34;


@themeColorBackground : @themeColorLightBackground;
@themeColorSheetBackground :#e7e7e7;

@themeColorButton : @themeColorDarkBackground;
@themeColorButtonBackground : @themeColorSheetBackground;

@themeColorArea : #ded9d3;

@themeColorTitle : @themeColorButton;

@themeColorHighlight : #bf7741;
