<div class="row" >
	<named-block class="col-md-5" name="Tâches">
		<timeline>
		</timeline>
	</named-block>
	<named-block class="col-md-2" name="Dépendances">
		<card-deck>
			<card><p>Maquette</p></card>
			<card><p>Attente livraison service</p></card>
		</card-deck>
	</named-block>
	<named-block class="col-md-5" name="Critères d'acceptation">
		<card-deck>
			Blabalbal blablabla bal bal bal blblblablbalba
		</card-deck>
	</named-block>
</div>
<named-block name="Soeurs">
	<card-deck>
		<card><p>Maquette</p></card>
		<card><p>Attente livraison service</p></card>
		<card><p>Attente livraison service</p></card>
		<card><p>Attente livraison service</p></card>
		<card><p>Attente livraison service</p></card>
		<card><p>Attente livraison service</p></card>
	</card-deck>
</named-block>
